.main_plane_wrapper {
  /* background-color: aqua; */
  /* padding: 2rem; */
  width: 100%;
  position: relative;
  margin-bottom: 5rem;
}
.plane_container {
  /* height: 100vh; */
  position: absolute;
  display: flex;
  transform: translate(0%, 0%);
  /* transform: translate(70vw , 0%); */
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  transition: left 0.5s ease-in;
}

.plane_container-open {
  animation: moveforwards 300ms ease-in-out forwards;
  transition: animation 300ms ease-in;
}
.plane_container-close {
  animation: movebackwards 300ms ease-in-out forwards;
  transition: animation 300ms ease-in;
}
.plane_bars * {
  width: 3rem;
  height: 1.5px;
  background: white;
}
.plane_bars :nth-child(2) {
  margin-block: 0.25rem;
}
.plane {
  /* width: 4rem; */
  /* height: 1.5rem; */
  /* background-color: #ffaa33; */
}
@keyframes moveforwards {
  0% {
    left: 0%;
  }
  100% {
    left: calc(100% - (124px));
  }
}
@keyframes movebackwards {
  0% {
    left: calc(100% - (124px));
  }
  100% {
    left: 0%;
  }
}

/* gkjdfg;ls */
